POSTGRES_DB=dvarf
POSTGRES_USER=dvarf
POSTGRES_PASSWORD=change-me
JWT_SECRET=change-me-long-random
CORS_ORIGINS=http://201.34.132.252
APP_PUBLIC_URL=http://201.34.132.252
AUTH_EMAIL_STUB=true
PASSWORD_RESET_TTL_MINUTES=30
EMAIL_CHANGE_TTL_MINUTES=30

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=
VK_SERVICE_TOKEN=
